* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

header {
    top: 0;
    width: 100%;
    background-color: #3399ff;
    height: 5%;
}

main {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    font-size: x-small;

    /* border: 1px solid red; */
}

#info-container {
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-column: 1 / 2;
    display: grid;
    color: #3399ff;
}

.subsequent-list-item {
    padding-top: 0.25rem;
}

hr {
    background-color: #3399ff;
    height: 0.05rem;
}

.bold {
    font-weight: bold;
}

.example {
    font-size: 0.5rem;
}

.note {
    font-size: 0.5rem;
}

#form-section {
    grid-column: 2 / 3;
    align-self: center;
}

#form-title-container {
    display: grid;
    padding-bottom: 0.5rem;

    /* border: 1px solid red; */
}

#title {
    grid-column: 1 / 2;
    color: #3399ff;
    align-self: center;
}

#profile-picture {
    width: 4rem;
    grid-column: 2 / 3;
}

#form-container {
    width: 100%;
    height: auto;
    background-color: #3399ff;
    color: white;
    border-radius: 0.5rem;
    display: grid;
    /* overflow: hidden; */
}

form {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: grid;
    /* row-gap: 0.5rem; */
}

label {
    padding-left: 0.5rem;
}

textarea {
    width: 90%;
    border-radius: 0.5rem;
    justify-self: center;
    margin-bottom: 0.5rem;
}

form,p {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}

input {
    width: 90%;
    border-radius: 0.5rem;
    justify-self: center;
    margin-bottom: 0.5rem;
}

button {
    width: 50%;
    border-radius: 0.5rem;
    background-color: white;
    color:#3399ff;
    justify-self: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #3399ff;
    height: 5%;
}