* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

header {
    top: 0;
    width: 100%;
    background-color: #3399ff;
    height: 5%;
}

main {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    font-size: x-small;

    /* border: 1px solid red; */
}

#info-container {
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    grid-column: 1 / 2;
    display: grid;
    /* row-gap: 1%; */
    color: #3399ff;
}

#form-container {
    width: 100%;
    height: 50%;
    grid-column: 2 / 3;
    align-self: center;
    background-color: #3399ff;
}

.subsequent-list-item {
    padding-top: 2%;
}

hr {
    background-color: #3399ff;
    height: 8%;
}

#pricing-info-title {
    /* padding-top: 4%; */
}

.bold {
    font-weight: bold;
}

.example {
    font-size: 0.5rem;
}

.note {
    font-size: 0.5rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #3399ff;
    height: 5%;
}