* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3399ff;
    height: 5vh;
}